<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/sun.png">



<link rel="stylesheet" href="./css/styles.css">

</head>


<body>
<div class="main-content">
{{>header}}
<p>{{errorMessage}}</p>
</div> 

     
</body>

{{>footer}}


</html>