<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/sun.png">


    <link rel="stylesheet" href="./css/styles.css">




</head>


<body>
<div class="main-content">
{{>header}}
<img class="portrait" src="./img/IMG_0141.jpg">
<p>Created by {{name}} for the purpose of having a deeper understanding </p>
<p>of Node.JS as well as builing web apps with handlebars. </p>
<p>As well as using multiple web APIs to build a web app from scratch. </p>

</div>

     
</body>


{{>footer}}

</html>